
//.navbar-brand {
//  font-size: 3rem;
//}

.search-area {
  padding-top: 50px
}

.no-right-padding {
  padding-right: 0 !important;

  input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.no-left-padding {
  padding-left: 0 !important;

  button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}